header {
  background-color: rgb(33, 33, 33);
  font-size: 30px;
  color: white;
  text-align: center;
  height: 90px;
  padding: 20px;
  border-bottom: 5px solid #3e028d;
  margin-bottom: 10px;
  /* display: flex; */
  /* opacity: 90%; */
}

body {
  background-image: url("https://www.ppt-backgrounds.net/thumbs/orange-burgundy-stripes-power-point-orange-burgundy-image-presentation.jpeg");
  background-size: 100vw;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-group {
  display: flex;
  align-items: center;
}

.sortBtn {
  justify-content: center;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to bottom right, #faf9f9 0%, #fca403 150%);
}

.card:hover {
  transform: scale(1.05);
  position:relative;
  
}

.card-body {
  padding-bottom: 10px;

}

.location {
  text-align: right;
}

h6 {
  padding-top: 5px;
  text-decoration: none;
  font-size: 14px;
}

@media only screen and (max-width: 400px) {
  header {
    font-size: 32px;
  }
}

@media only screen and (max-width: 280px) {
  header {
    font-size: 26px;
    padding: 17px;
  }
}